{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet"> 
    <title>Document</title>
</head>
<body>
    <div class="main-content">
        <div class="navbar">

        </div>
        <div class="form-div">
            <div class="text-box">
                <h5>Image generator</h5>

                <p>
                    Type something to generate an image
                </p>
            </div>
            <form class="form">
                {% csrf_token %}
                <textarea type="text" name="texto" class="textarea" id="textarea"></textarea>
                <div class="botao" id="botao">Submit</div>
            </form>
        </div>
        <img src="{{ url }}">
    </div>

<script src="{% static 'js/bundle.js' %}"></script>
</body>
</html>